.contenedor {
  background-color: rgb(25, 62, 226);
  padding: 20px; 
  text-align: center;
  font-family: Arial, sans-serif; 
}

.container {
  max-width: 800px;
  margin: 0 auto;
}


h1 {
  color: #fff; 
  font-size: 36px; 
  margin-top: 20px;
}


input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px; 
  transition: background-color 0.3s; 
}

button:hover {
  background-color: #555; 
}


#results {
  margin-top: 20px;
  text-align: center;
}


.movie {
  margin: 20px;
  padding: 20px;
  background-color: #7881ff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movie img {
  width: 150px;
  height: 225px;
  display: block;
  margin: 0 auto;
}

.movie h2 {
  font-size: 24px; 
  margin: 10px 0;
}

.movie p {
  margin: 10px 0;
}